{{#if currentUser}}
  <button
    class={{concatClass "header-message__button" (if isActive "active")}}
    {{on "click" this.toggleDropdown}}
  >
    {{d-icon "m-mail"}}
    {{#unless (eq allUnread 0)}}
      <span class="notification-count">
        {{allUnread}}
      </span>
    {{/unless}}
  </button>

  <div class="header-message__menu">
    <div class="header-message__heading">
      <a href={{concat "/u/" currentUser.username "/messages"}}>
        <h3>
          Messages
        </h3>
      </a>
      <ul class="header-message__buttons">
        <li>
          {{d-icon "m-more_horiz"}}
        </li>
        <li>
          <a href="/new-message">
            {{d-icon "m-post_add"}}
          </a>
        </li>
      </ul>
    </div>

    <ul class="header-message__inboxes">
      {{#each inboxes as |inbox index|}}
        <li class="header-message__inbox">
          <button
            {{action selectTab index}}
            class={{if (eq index selectedTabIndex) "active"}}
            disabled={{loading}}
          >
            {{#if inbox.full_name}}
              {{inbox.full_name}}
            {{else}}
              {{inbox.name}}
            {{/if}}
          </button>
          {{#unless (eq inbox.unread_total 0)}}
            <span class="notification-count">
              {{inbox.unread_total}}
            </span>
          {{/unless}}
        </li>
      {{/each}}

    </ul>
    {{#if loading}}
      {{loading-spinner}}
    {{else}}
      <ul class="header-message__messages">
        {{#each messages.topic_list.topics as |message|}}
          <li>
            <a
              href={{concat
                "/t/"
                message.slug
                "/"
                message.id
                "/"
                message.highest_post_number
              }}
            >
              <div class="header-message__avatar">
                {{bound-avatar-template
                  message.first_poster.avatar_template
                  "large"
                }}
                {{#unless message.no_replies}}
                  {{bound-avatar-template
                    message.last_poster.avatar_template
                    "large"
                  }}
                {{/unless}}
              </div>
              <div class="header-message__info">
                <div class="header-message__info-top">
                  <span class="header-message__name">
                    {{#if message.posters.0.name}}
                      {{message.posters.0.name}}
                    {{else}}
                      {{message.posters.0.username}}
                    {{/if}}
                  </span>
                  <span
                    class={{concatClass
                      "header-message__date"
                      (unless (eq message.unread 0) "unread")
                    }}
                  >
                    {{format-date message.last_posted_at format="tiny"}}
                  </span>
                </div>
                <span class="header-message__title">
                  {{message.title}}
                </span>
                <p class="header-message__excerpt">
                  {{message.excerpt}}
                </p>
                {{#if message.tags}}
                  <ul class="header-message__tags">
                    {{#each message.tags as |tag|}}
                      <li>
                        {{tag}}
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}

                <div
                  class={{concatClass
                    "header-message__assigned"
                    (if message.assigned_to_user "direct")
                    (if message.indirectly_assigned_to "indirect")
                  }}
                >
                  {{d-icon "m-person_add_alt"}}
                  <ul>
                    {{#if message.assigned_to_user}}
                      <li>{{message.assigned_to_user.username}}</li>
                    {{/if}}

                    {{#if message.indirectly_assigned_to}}
                      {{#each
                        (objectToArray message.indirectly_assigned_to)
                        as |assignee|
                      }}
                        <li>{{assignee.assigned_to.username}}</li>
                      {{/each}}
                    {{/if}}
                  </ul>
                </div>

              </div>
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}