<div class={{concatClass "header-user" (if isActive "active")}}>
  <button class="header-user__button" {{on "click" this.toggleDropdown}}>
    {{#if currentUser.animated_avatar}}
      {{bound-avatar-template currentUser.animated_avatar "huge"}}
    {{else}}
      {{bound-avatar-template currentUser.avatar_template "huge"}}
    {{/if}}
  </button>

  <div class="header-user__menu">
    <LinkTo
      class="header-user__profile"
      @route="user.summary"
      @model={{this.currentUser}}
    >
      {{#if currentUser.animated_avatar}}
        {{bound-avatar-template currentUser.animated_avatar "huge"}}
      {{else}}
        {{avatar currentUser}}
      {{/if}}
      <div class="header-user__profile-info">
        <span class="header-user__profile-name">
          {{#if currentUser.name}}
            {{currentUser.name}}
          {{else}}
            {{currentUser.username}}
          {{/if}}
        </span>
        <span class="header-user__profile-view">
          View Profile
        </span>
      </div>
    </LinkTo>
    {{!-- <h3 class="header-user__name">
      {{#if currentUser.name}}
        {{currentUser.name}}
      {{else}}
        {{currentUser.username}}
      {{/if}}
    </h3> --}}
    <ul>
      {{!-- <li>
        <LinkTo @route="user.summary" @model={{this.currentUser}}>
          {{d-icon "user"}}
          <span>
            My Profile
          </span>
        </LinkTo>
      </li> --}}
      {{!-- <li>
      <LinkTo @route="userActivity.drafts" @model={{this.currentUser}}>
        {{d-icon "pencil-alt"}}
        <span>
          {{#if this.currentUser.draft_count}}
            {{i18n
              "drafts.label_with_count"
              count=this.currentUser.draft_count
            }}
          {{else}}
            {{i18n "drafts.label"}}
          {{/if}}
        </span>
      </LinkTo>
    </li> --}}
      <li>
        <LinkTo @route="userActivity.bookmarks" @model={{this.currentUser}}>
          {{d-icon "m-bookmarks"}}
          <span>
            {{i18n "js.user.bookmarks"}}
          </span>
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="preferences" @model={{this.currentUser}}>
          {{d-icon "cog"}}
          <span>
            {{i18n "user.preferences"}}
          </span>
        </LinkTo>
      </li>
      <li>
        <DButton @action={{route-action "logout"}}>
          {{d-icon "sign-out-alt"}}
          <span>
            {{i18n "user.log_out"}}
          </span>
        </DButton>
      </li>
    </ul>
  </div>

</div>