<div class="mini-totd">
  <span class="mini-totd__label">
    {{theme-i18n "sidebar.right.mini.totd.label"}}
  </span>
  <a href={{concat "/t/" this.topicOfTheDay.slug "/" this.topicOfTheDay.id}}>
    <span class="mini-totd__title">
      {{this.topicOfTheDay.title}}
    </span>
    <ul>
      <li>
        {{#if this.topicOfTheDay.liked}}
          {{d-icon "heart"}}
        {{else}}
          {{d-icon "far-heart"}}
        {{/if}}
        {{number this.topicOfTheDay.likes_count}}
      </li>
      <li>
        {{d-icon "m-mode_comment"}}
        {{number this.topicOfTheDay.posts_count}}
      </li>
    </ul>
  </a>
</div>