<div class="melon__wrapper">
  <div class="melon__header">
    <h3>
      Top Contributors
    </h3>

    {{yield topContributors}}

    <select onchange={{action updatePeriod value="target.value"}}>
      <option value="all">All-time</option>
      <option value="yearly">Yearly</option>]
      <option value="quarterly">Quarterly</option>
      <option value="monthly">Monthly</option>
      <option value="weekly" selected>Weekly</option>
      <option value="daily">Daily</option>
    </select>
  </div>
  <ol class="melon__chart">
    {{#each topContributors as |topContributor|}}
      <li class="melon__entry">
        <div class="melon__art">
          <a
            href={{topContributor.user.userPath}}
            data-user-card={{topContributor.user.username}}
          >
            {{avatar topContributor.user imageSize="medium"}}
          </a>
        </div>
        <div class="melon__info">
          <div class="melon__title">
            <a
              href={{topContributor.user.userPath}}
              data-user-card={{topContributor.user.username}}
            >
              {{html-safe topContributor.user.username}}
            </a>
          </div>
          <div class="melon__artist">
            <span>
              {{topContributor.likes_received}}
              likes
            </span>
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
  <div class="melon__expand">
    <a href={{concat "/u?order=likes_received&period=" period}}>
      View All
    </a>
  </div>
</div>