<div class="sidebar-left__section">
  <button
    class="sidebar-left__toggle {{if isToggled 'active'}}"
    type="button"
    {{on "click" this.toggleSection}}
  >
    {{d-icon "chevron-down"}}
    <span class="sidebar-left__label">
      {{i18n "js.filters.categories.title"}}
    </span>
  </button>

  <ul class="sidebar-left__links {{if isToggled '' 'hidden'}}">
    {{#each site.categories as |category|}}
      {{#if
        (not (or (eq category.name "Uncategorized") category.parentCategory))
      }}

        <li
          class={{concatClass
            "sidebar-left__link"
            (unless (eq category.newTopicsCount 0) "unread-notification")
          }}
        >
          {{~category-link category~}}

          {{#if category.has_children}}
            <div class="sidebar-left__subcategories">
              <ul>
                {{#each category.subcategories as |subcategory|}}
                  <li>
                    {{~category-link subcategory~}}
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </li>
      {{/if}}
    {{/each}}
  </ul>
</div>