<div class="sidebar-left__section">
  <ul class="sidebar-left__links">
    <li class="sidebar-left__link">
      <a href="/">
        {{d-icon "home"}}
        <span class="sidebar-left__label">
          Home
        </span>
      </a>
    </li>
    {{#if currentUser}}
      <li class="sidebar-left__link">
        <a href="/">
          {{d-icon "m-email"}}
          <span class="sidebar-left__label">
            Messages
          </span>
        </a>
      </li>
      <li class="sidebar-left__link">
        <a href="/">
          {{d-icon "m-feed"}}
          <span class="sidebar-left__label">
            Following Topics
          </span>
        </a>
      </li>
      {{#if currentUser.admin}}
        <li class="sidebar-left__link">
          <a href="/">
            {{d-icon "wrench"}}
            <span class="sidebar-left__label">
              Admin
            </span>
          </a>
        </li>
      {{/if}}
    {{/if}}
  </ul>
</div>

{{sidebar-left-accordion}}

{{footer}}