{{log "melon:" melon}}

<div class="melon__wrapper">
  <div class="melon__header">
    <img src="https://i.imgur.com/RiH2HQN.png" />
    <span>
      Top 100
    </span>
  </div>
  <ol class="melon__chart">
    {{#each melon as |entry|}}
      <li class="melon__entry">
        <div class="melon__art">
          <img src={{entry.img}} />
        </div>
        <div
          class="melon__info"
          title={{concat entry.artist " – " entry.title}}
        >
          <div class="melon__title">
            <span>
              {{entry.title}}
            </span>
            {{#if entry.up}}
              <span class="melon__title-up">
                {{entry.up}}
              </span>
            {{else if entry.down}}
              <span class="melon__title-down">
                {{entry.down}}
              </span>
            {{/if}}
          </div>
          <div class="melon__artist">
            <span>
              {{entry.artist}}
            </span>
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
  <div class="melon__expand">
    <span>
      View All
    </span>
  </div>
</div>