<div class="sidebar-left__section">
  <button
    class="sidebar-left__toggle {{if isActive 'active'}}"
    {{on "click" this.toggleAccordion}}
  >
    {{d-icon "chevron-down"}}
    <span>
      {{i18n "js.filters.categories.title"}}
    </span>
  </button>

  <ul class="sidebar-left__links {{if isActive '' 'hidden'}}">
    {{#each site.categories as |category|}}
      <li class="sidebar-left__link">
        {{~category-link category~}}
      </li>
    {{/each}}
  </ul>
</div>