{{#if isHomepage}}
  <div class="sidebar-right">

    {{!-- {{sidebar-right-user}} --}}
    <div class="sidebar-right-mini">
      {{mini-time}}
      {{mini-emoji}}
      {{mini-birthday}}
      {{mini-docs}}
      {{mini-totd}}
      {{mini-themes}}
      {{mini-components}}
    </div>
    {{sidebar-right-top-contributors}}
    {{sidebar-right-stats}}
  </div>
{{/if}}