<nav class="sidebar-left__wrapper">
  <div class="sidebar-left__section">
    <ul class="sidebar-left__links">
      <li class="sidebar-left__link">
        <a href="/">
          {{d-icon "home"}}
          <span class="sidebar-left__desc">
            Home
          </span>
        </a>
      </li>
      <li class="sidebar-left__link">
        <a href="/u/{{currentUser.username}}/messages">
          {{d-icon "m-mail"}}
          <span class="sidebar-left__desc">
            Messages
          </span>
        </a>
      </li>
      <li class="sidebar-left__link">
        <a href="/admin">
          {{d-icon "wrench"}}
          <span class="sidebar-left__desc">
            Admin
          </span>
        </a>
      </li>
    </ul>
  </div>

  {{sidebar-left-accordion}}
</nav>
{{footer}}